* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    background-color: rgb(231, 154, 103);
}

main {

    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.carousel {
    display: flex;
    width: 100%;
}

.carousel-item {
    width: 100%;
}

#carouselExampleIndicators {
    width: 100%;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: black;
    height: 120px;
}

.logo {
    height: 100px;
    width: 150px;
}

.menu {
    display: flex;
    align-items: center;
    padding: 0.2;
    list-style-type: none;
    height: 100px;
    width: 100%;
    text-align: end;
}

.menu li {
    display: inline-block;
    margin-top: 15px;
    font-size: 15px
}

.menu li a {
    padding: 15px;
    margin: 5px;
    color: rgb(200, 229, 235);
    text-decoration: none;
    background-size: 5px;
}

.menu li a:hover {
    color: black;
    background-color: rgb(231, 154, 103);
    border-radius: 25%;
}

.img {
    display: flex;
    max-height: 300px;
    padding: 30px;
}

.texto {
    padding: 20px;
    width: 500px;
    font-family: 'Playfair', serif;
    font-size: 20px;

}

footer {
    display: flex;
    justify-content: space-around;
    background: black
}

.menufooter {
    display: flex;
    align-items: start;
    list-style: none;
    flex-direction: column;
    margin: 40px 0px 40px 0px;
}

.menufooter li {
    padding: 5px;
    font-size: 15px;
}

.menufooter li a {
    color: rgb(255, 255, 255);
    text-decoration: none;
}

.menufooter2 {
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.navfooter {
    color: white;
}

.linkfooter {
    text-decoration: none;
    color: white;
    font-weight: 600;
}

.formdivs {
    margin-top: 30px;
    margin-bottom: 30px;
}

.formu {
    width: 50%;
}

.botonenviar {
    display: flex;
    justify-content: end;
}

.mapa {
    margin-top: 25px;
    margin-bottom: 25px;
}

@media (max-width:550px) {
    .formu {
        width: 100%;
    }
}

.imagespromo {
    display: flex;
    width: 100%;
    justify-content: center;
    padding: 50px;
}

.divimagepromo {
    padding: 20px;
    display: flex;
    flex-direction: column;
    width: 100%;
}

.imagepromo {
    height: 190px;
    width: 300px;
}

.textpromo {
    font-size: 20px;
    margin: 40px 0px 40px 0px;
    font-weight: bold;
    font-family: 'Playfair', serif;
}

.imagesproductos{
    display: flex;
    flex-wrap: wrap;
    margin: 30px 0px 30px 0px;
    justify-content: center;

}
.imgproductos{
    padding: 10px;
}
.imgproductos:hover{
    opacity: 0.8;
    background-color: rgb(205, 187, 223);
}
.textoproductos{
    font-size: 20px;
    font-family: 'Playfair', serif;
}
.tituloproductos{
    font-family: 'Playfair', serif;
    font-weight: bold;
    margin-top: 25px;

}
.divimgnosotros{
    display: flex;
    justify-content: space-between;
}
.divimgnosotros{
    display: flex;
    justify-content: space-between;
}
.imgnosotros{
    display: flex;
    width: 50%;
    margin: 100px;
}
.textonosotros{
    display: flex;
    align-items: center;
}
